.contain {
  display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
  width: 100%;
}
a.shelves {
  text-align: center;
  text-decoration: none;
  margin: 15px auto;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  background-color: #ab2a19;
  width: 60%;
}

a.bins {
  text-align: center;
  text-decoration: none;
  margin: 15px auto;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  background-color: #d34735;
  width: 60%;
}

.placeholder {
  text-align: center;
  text-decoration: none;
  margin: 15px auto;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  background-color: #ffb8af;
  width: 60%;
}
